<div class="container">
    <div class="logo">
        <img src="assets/image/logo.png" />   
    </div>
    <div class="menubar">
        <h1 class="wrap_other">Selecione o Quiz:</h1>
        <button (click)="change(0)">Qual distro você é?</button>
        <button (click)="change(1)">Qual distro faz seu tipo?</button>
    </div>
    <div class="title">
        <h3>Quiz: {{ title }}</h3>
    </div>
    <div *ngIf="!finished" class="questions">
        <h3>{{ questionSelected.question }}</h3>
    </div>
    <div *ngIf="!finished" class="options">
        <button
        *ngFor="let option of questionSelected.options"
        class="btn-option"
        (click)="optionSelected(option.alias)"
        >
        {{ option.name }}
        </button>
    </div>

    <button class="return_questions" *ngIf="goBack" (click)="return_questions()">Voltar</button>

    <div *ngIf="finished" class="results">
        <h1>O seu resultado é:</h1>
        <p class="answer">{{ answersSelected }}</p>
        <p class="description">{{ descriptionSelected }}</p>
        <button class="reset">Realizar o teste novamente</button>
    </div>
</div>
